{% extends "template.html" %}

{% block content %}
            <header>
                <h1>Login</h1>
            </header>
            <form action="{{ url_for('route.login') }}" class="login-form" method="post" novalidate>
                {% for field in form %}
                        <div class="f-group">
                            {{ field.label(class_="form-label") }}
                            {% if not field.errors: %}
                                {{ field(class_="form-control") }}
                            {% else %}
                                {{ field(class_="form-control is-invalid") }}
                            {% endif %}
                            <div class="invalid-feedback">
                                {% for err in field.errors: %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        </div>
                {% endfor %}
                <div class="f-group">
                    <button type="submit" class="btn btn-outline-primary btn-lg">Login</button>
                        <div class="form-feedback">
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                </div>
            </form>
            <p>Don't have an account? <a href="{{ url_for('route.register') }}">Register</a></p>
{% endblock %}