{% extends "template.html" %}

{% block content %}
            <header>
                <h1>Registration</h1>
            </header>
            <form action="{{ url_for('route.register') }}" class="register-form" method="post" novalidate>
                    {% for field in form %}
                        <div class="f-group">
                            {{ field.label(class_="form-label") }}
                            {% if not field.errors: %}
                                {{ field(class_="form-control") }}
                            {% else %}
                                {{ field(class_="form-control is-invalid") }}
                            {% endif %}
                            <div class="invalid-feedback">
                                {% for err in field.errors: %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                <button type="submit" class="btn btn-outline-success btn-lg">Register</button>
            </form>
{% endblock %}